{% extends 'layouts/base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

 <a href="{{route("boards.create")}}">create</a>
{{dump(this)}}
{% for hoge in boards %}
{{hoge.name}}
{% endfor %}
{% endblock %}