{% extends 'layouts/base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

 <a href="{{route("board.create")}}">create</a>

{% for hoge in localName %}
{{hoge.name}}
{% endfor %}
{% endblock %}